# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: Build
on:
  - push
  - pull_request
  - workflow_dispatch
jobs:
  build-api:
    name: Build API
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup dotnet SDK
        uses: actions/setup-dotnet@v1.9.0
        with:
          dotnet-version: '6.0.x'

      - name: Run 'dotnet restore'
        run: dotnet restore ./src/SmallsOnline.Web.Api/

      - name: Run 'dotnet build'
        run: dotnet build ./src/SmallsOnline.Web.Api/
        